<div class="container topic flex shadow">
    <img class="image1" src="{{thread.imageOP}}" alt="">
    <div class="info">
        <p class="f-n-18 f-c-grey">{{thread.title}}</p>
        <span class="f-n-14 f-c-grey name">{{thread.name}}</span>
        <span class="f-n-14 f-c-grey">{{thread.date}}</span>
    </div>
    <div class="position border">
    <p class="f-n-14 f-c-grey">{{thread.comments + ' comments '}}</p>
    <p class="f-n-14 f-c-grey width">{{thread.views + ' views '}}</p>
   </div>
   <div class="response">
    <p class="f-n-14 f-c-grey">{{thread.time + ' ago '}}</p>
    <p class="f-n-14 f-c-grey width">{{thread.responder}}</p>
   </div>
   <img class="image2" src="{{thread.imageOP}}" alt="">
</div>
