main{
    display: flex;
    width:100%;
    margin-top:20px;
    justify-content: center;
    align-items: center;
}
.topic{
    background-color:white;
    color:#3f3f3f;
    font-size:20px;
    font-weight:400;
    padding: 10px;
    margin-top:28px;
    border-bottom:1px solid #a8a8a8
}
.flex{
    display:flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.position{
    margin-left:auto;
    margin-top:auto;
    height:fit-content;
}
.buttons{
    border:1px solid #a8a8a8;
    padding:10px;
    margin-right:10px;
}
.buttons:hover{
    background-color: #f6f6f6;
}
.inline{
    justify-content: space-between;
    padding-right:20px;
    align-items:center;
    margin-top:10px;
    margin-bottom:10px;
}
.info{
    margin-inline:20px;
    padding-inline:20px;
}
.text{
    font-size:15px;
}
.border{
    padding-left:10px;
    border-left: solid 1px #a8a8a8;
}
.shadow{
    box-shadow: 5px 5px #d8d8d8;
}
.image{
    margin-bottom:10px;
    width:200px;
}
.name{
    padding:20px;
    text-align: left;
    margin-left:10px;
}
.wide{
    width:200px;
}
#mb{
    margin-bottom:10px;
}
#border-t{
    margin-top:10px;
    border-top:1px solid #a8a8a8;
}
