<main>
    <div class="container">
    <div *ngFor="let profile of profiles">
    <div >
    <div class="container flex topic shadow">
    <img class="image" src="{{profile.imageOP}}" alt="">
    <div class="name flex-column">
        <h2 id="mb" class="f-c-blue f-bold-big mb">{{profile.name}}</h2>
        <h2 class="wide f-c-grey f-n-18">Joined: {{profile.membership}}</h2>
        <h2 class="wide f-c-grey f-n-18">Messages: {{profile.messages}}</h2>
        <h2 class="wide f-c-grey f-n-18">Rating: {{profile.rating}}</h2>
    <div id="border-t">
    <span class="f-c-grey f-n-18">Last activity: {{profile.activity}}</span>
    </div>
    </div>
    <div class="flex position">
       <button class="buttons f-c-blue f-n-16 bg-white">Follow</button>
       <button class="buttons f-c-blue f-n-16 bg-white">Report</button>
    </div>
    </div>
    <div class="bg-white shadow">
    <app-btn-header text="Profile posts" classes="f-titles bg-blue f-c-white btn hover"></app-btn-header>
    <app-btn-header text="Postings" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    <app-btn-header text="About" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    <app-btn-header text="Whats new" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    </div>
    </div>
    </div>
    </div>
    </main>
    