/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin:0;
  padding:0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html{
  height:100%;
}

html,
body {
  max-width:100vw;
}

/* Set core body defaults */
body {
  display: flex;
  position:relative;
  min-height: 100%;
  text-rendering: optimizeSpeed;
  font-family: "Nunito sans", sans-serif;
  background-color: #f6f6f6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a{
  text-decoration: none;
}
a:visited{
   color:inherit;
   text-decoration: none;
}

.container {
    max-width: 1200px;
    width: min(1200px,100vw);
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: #2BCAED;
}
.f-titles{
    font-weight: 400;
    font-size:20px;
}
.f-bold{
    font-weight: 700;
    font-size:18px;
}
.f-bold-big{
    font-weight: 700;
    font-size:24px;
}
.f-n-20{
    font-weight: 400;
    font-size: 20px;
}
.f-n-18{
    font-weight: 400;
    font-size: 18px;
}
.f-n-16{
    font-weight: 400;
    font-size: 16px;
}
.f-n-14{
    font-weight: 400;
    font-size: 14px;
}
.f-c-white{
    color:white;
}
.f-c-grey{
    color:#3f3f3f;
}
.f-c-lightgrey{
    color:#a8a8a8;
}
.f-c-blue{
    color:#2BCAED;
}
.width{
  width: 100%;
  height:100%;
}