.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_1_10_2023_12_37_AM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_1_10_2023_12_37_AM__Changes_1.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_1_10_2023_12_37_AM_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_1_10_2023_12_37_AM_[Changes]1/shelved.patch
