<div class="main">
<div class="container">
<div *ngFor="let comment of comments">
<div class="container flex topic shadow">
<div class="name">
    <img class="image1" src="{{comment.imageOP}}" alt="">
    <h2 id="mb" class="f-c-blue f-bold">{{comment.name}}</h2>
    <h2 class="text wide f-c-grey f-n-14">Joined: {{comment.membership}}</h2>
    <h2 class="text wide f-c-grey f-n-14">Comments: {{comment.messages}}</h2>
</div>
    <div class="border">
    <div class="flex inline f-c-lightgrey f-n-14">
    <span class="">{{comment.date +' at '+ comment.time}}</span>
    <span class="align"><img class="image2" src="assets/img/share.png" alt="">#{{comment.id}}</span>
    </div>
    <p class="paragraph f-c-grey f-n-16">{{comment.text}}</p>
    <img *ngIf="comment.image" src="assets/img/forumtitle.png" alt="">
    <div class="position flex">
        <img class="image2" src="assets/img/reply.png" alt="">
         <span class="text f-c-blue f-n-16">Reply</span>
    </div>
   </div>
</div>
</div>
   <div class="break">&nbsp;</div>
</div>
</div>
