<main>
    <div class="container">
    <div *ngFor="let activity of activities">
    <div class="container flex topic shadow">
    <div class="name">
        <img class="image1" src="{{activity.imageOP}}" alt="">
        <h2 id="mb" class="f-c-blue f-bold">{{activity.name}}</h2>
    </div>
        <div class="border">
        <p class="f-c-blue f-titles">{{activity.title}}</p>
        <p class="paragraph f-c-grey f-n-16">{{activity.text}}</p>
        <span class="f-c-lightgrey f-n-14 margin"> {{activity.time}} ago </span>
        <span class="f-c-lightgrey f-n-14 margin">Post #{{activity.id}}</span>
        <span class="f-c-lightgrey f-n-14">Forum: {{activity.forum}}</span>
       </div>
    </div>
    </div>
       <div class="break">&nbsp;</div>
    </div>
    </main>
    