
<div class="container-small bg-white f-c-grey f-n-18 shadow">
   
    <div class="flex">
        <div class="flex-col border">
            <div class="m-p">
                <label for="username">Username or email:</label>
            </div>
            <div class="m-p flex-col">
                <label for="password">Password:</label>
                <a href="#" class="f-c-blue f-n-16">Forgot your password?</a>
            </div>
        </div>
        <div class="flex-col">
            <input type="text" class="form" name="username">
            <input type="text" class="form" name="password">
        </div>
    </div>
    <div class="m-p flex-col">
        <button id="register-button" class="button2 f-c-white f-bold bg-blue">Log in</button>
    </div>
</div>
