<main>
    <div class="container margin" >
        <p class="title shadow">Threads</p>
        <div *ngFor="let thread of threads ">
        <app-thread-line [thread]="thread">
        </app-thread-line>
        <!-- <span id="group" class="bg-blue f-c-white f-titles">{{text}}</span>
        <span id="title" class="bg-white f-c-grey f-titles">{{text}}</span>
        <span id="title" class="bg-white f-c-grey f-titles">{{text}}</span> -->
        </div>
        <div>&nbsp;</div>
    </div>
    
</main>