<header class="bg-white">
    <div class="container">
    <a href="" class="image"><img src="assets/img/forumtitle.png" alt=""></a>
    <div class="break">&nbsp;</div>
    <div class="spacing">
    <app-btn-header url="/home" text="Home" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    <app-btn-header url="/posts" text="Posts" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    <app-btn-header url="/members" text="Members" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    <app-btn-header text="Rules" classes="f-titles bg-white f-c-grey btn hover"></app-btn-header>
    <div class="mright">
    <app-btn-header *ngIf="!(isAuthenticated$ | async)" url="/login" text="Log-in" classes="f-n-18 bg-white f-c-grey btn2 hover"></app-btn-header>
    <app-btn-header *ngIf="!(isAuthenticated$ | async)" url="/register" text="Sign up" classes="f-n-18 bg-white f-c-grey btn2 hover"></app-btn-header>
    <app-btn-header *ngIf="isAuthenticated$ | async" url="/profile" text="Profile" classes="f-n-18 bg-white f-c-grey btn2 hover"></app-btn-header>
    <app-log-out-button  *ngIf="isAuthenticated$ | async" url="/home" text="Log-Out" classes="f-n-18 bg-white f-c-grey btn2 hover"></app-log-out-button>
    </div>
    </div>
    <div class="break">&nbsp;</div>
    </div>
</header>
<header class="bg-blue shadow">
    <div class="container">
        <app-btn-header id="subheader" text="Search forum:" classes="f-n-16 bg-blue f-c-white btn "></app-btn-header>
    </div>
</header>
