<div class="container topic flex shadow hover" routerLink="/post/{{post.id}}">
    <img class="image1" src="{{user.image.source}}" alt="">
    <div class="info">
        <p class="f-n-18 f-c-grey">{{post.title}}</p>
        <span class="f-n-14 f-c-grey name">{{post.user.name}}</span>
        <span class="f-n-14 f-c-grey">{{post.created_at | date}}</span>
    </div>
    <div class="position border">
    <p class="f-n-14 f-c-grey">{{post.replies_count + ' comments '}}</p>
   </div>
   <div class="response">
    <p class="f-n-14 f-c-grey">{{ post.latestReply?.created_at | dateAsAgo }}</p>
    <p class="f-n-14 f-c-grey width">{{post.latestReply?.user?.name}}</p>
   </div>
   <img class="image2" src="{{post.latestReply?.user?.image?.source}}" alt="">
</div>
