.topic{
    background-color:white;
    color:#3f3f3f;
    font-size:20px;
    font-weight:400;
    padding: 10px;
    border-bottom:1px solid #a8a8a8;
}
.flex{
    display:flex;
    align-items: center;
}
.position{
    width:200px;
    justify-content: space-evenly;
    text-align: center;
    margin-left:auto;
}
.response{
    margin-left:20px;
    text-align:right;
    width:120px;
}
.info{
    margin-inline:20px;
    padding-inline:20px;
}
.border{
    border-right: solid 1px #a8a8a8;
}
.shadow{
    box-shadow: 5px 5px #d8d8d8;
}
.image1{
    width:48px;
}
.image2{
    width:40px;
    margin-left:20px;
}
.name{
    margin-right:20px;
}
.hover{
    transition: all 0.3s ease;
}

.hover:hover{
    transform: scale(1.01);
    box-shadow: 9px 6px 5px #d8d8d8d8;
    position: relative;
    font-size:21px;
    cursor: pointer;
}

.hover:hover p {
    color: #2bcaed;
}

.hover:hover span {
    color: #2bcaed;
}