
<div class="container flex topic shadow">
    <div class="name">
        <img class="image1" src="{{reply.user?.image?.source}}" alt="profilePicture">
    </div>
        <div class="border">
        <p class="f-c-blue f-titles">{{reply.user?.name}}</p>
        <p class="paragraph f-c-grey f-n-16">{{reply.text_content}}</p>
        <span class="f-c-lightgrey f-n-14 margin"> {{reply.created_at | dateAsAgo}} ago </span>
        <span class="f-c-lightgrey f-n-14 margin">reply identifier {{reply.id}}</span>
    </div>
</div>

    