<div class="flex">
<div class="container bm">
    <div id="numbers">
        <app-btn-header text="1" classes="f-n-14 bg-white f-c-grey num hover"></app-btn-header>
        <app-btn-header text="2" classes="f-n-14 bg-white f-c-grey num hover"></app-btn-header>
        <app-btn-header text="3" classes="f-n-14 bg-white f-c-grey num hover"></app-btn-header>
        <app-btn-header text=" ... " classes="f-n-14 bg-white f-c-grey num hover"></app-btn-header>
        <app-btn-header text="21" classes="f-n-14 bg-white f-c-grey num hover"></app-btn-header>
    </div>
    <app-btn-header text="Next page" classes="f-n-14 bg-white f-c-grey num hover"></app-btn-header>
</div>
</div>