<div class="main">
    <div class="container">
    <div>
    <div class="container flex topic shadow">
    <div class="name border">
        <img class="image1" src="{{profiles[0].imageOP}}" alt="">
        <h2 id="mb" class="f-c-blue f-bold">{{profiles[0].name}}</h2>
    </div>
    <div class="width">
        <textarea type="text" class="f-n-16" placeholder="Write your reply" id="text"></textarea>
        <div class="flex justify">
        <button class="button1 f-c-blue f-n-16 bg-white">Add picture</button>
        <button class="button2 f-c-white f-n-16 bg-blue">Post comment</button>
        </div>
    </div>
    </div>
    </div>
       <div class="break">&nbsp;</div>
    </div>
    </div>
    