.main{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.topic{
    background-color:white;
    color:#3f3f3f;
    font-size:20px;
    font-weight:400;
    padding: 10px;
}
.flex{
    display:flex;
    align-items: center;
}
.position{
    justify-content: flex-end;
    padding:20px;
}
.inline{
    justify-content: space-between;
    padding-right:20px;
    align-items:center;
    margin-top:10px;
    margin-bottom:10px;
}
.paragraph{
    padding-right:20px;
    margin-bottom:10px;
}
.border{
    border-right: solid 1px #a8a8a8;
}
.shadow{
    box-shadow: 5px 5px #d8d8d8;
}
.image1{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:160px;
}
.name{
    padding:10px;
    text-align: center;
    margin-right:10px;
}
#mb{
    margin-bottom:10px;
}
.align{
    align-items: center;
}

#text{
    width:100%;
    min-height: 120px;
    padding: 10px 10px 120px 10px;
    margin-bottom: 10px;
    word-break: break-all;
}
.button1{
    border:1px solid #a8a8a8;
    padding:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.button2{
    border:none;
    padding:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.button1:hover{
    background-color: #f6f6f6;
}
.button2:hover{
    filter:brightness(95%)
}
.block{
    display:block;
}
.width{
    width:100%;
}
.justify{
    justify-content: space-between;
}