
<main>
    <app-post-details [post$]="post$" (commentFormEmiter)="showCommentForm($event)"></app-post-details>
    <app-comment-form 
    *ngIf="isAuth && showComment" 
    [editReply]="editReply"
    [postId]="id" (commentFormEmiter)="showCommentForm($event)">
    </app-comment-form>
    <div *ngIf="replies$ |async  as replies">
        <div *ngFor="let reply of replies" id="commentContainer">
            <app-comment *ngIf="reply.id != editReply?.id"
            (editReply)="passToCommentForm($event)"
            (commentFormEmitter)="showCommentForm($event)" 
            [reply]="reply" [authUser]="authUser$ | async">
            </app-comment>
        </div>
    </div>
</main>

