
<main>
    <div class="container">
    <div>
    <div class="container topic shadow">
    <div class="name border">
        <h2 class="f-c-grey f-n-18">Age: {{profiles[0].age}}</h2>
        <h2 class="f-c-grey f-n-18">Gender: {{profiles[0].gender}}</h2>
        <h2 class="f-c-grey f-n-18">Location: {{profiles[0].location}}</h2>
    </div>
    <div id="follows" class="border">
        <h2 class="name mt f-c-grey f-n-18">Follows: </h2>
        <div class="flex">
        <img class="image2" src="assets/img/user.png" alt="">
        <img class="image2" src="assets/img/user.png" alt="">
        <img class="image2" src="assets/img/user.png" alt="">
        <img class="image2" src="assets/img/user.png" alt="">
        </div>
    </div>
    <div class="followers">
        <h2 class="name f-c-grey f-n-18">Followers: </h2>
         <img class="image2" src="assets/img/user.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </main>
    